@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #fff;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-container img{
    width: 100%;
    height: auto;
    padding: 20px 20px;
}

.text-overlay {
    position: absolute;
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.subtitle {
    font-size: 6rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 500;
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #fff;
    position: sticky;
    top: 0; /* Sticks the header to the top of the viewport */
    z-index: 1000; /* Ensures it stays above other content */
}

.header-section h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.c1-container{
    display: flex;
    align-items: center;
    gap: 200px;
}

.c1-container h1{
    margin-left: 100px;
    justify-content: start;
    margin-top: 50px;
}

.description{
    margin-top: 100px;
    max-width: 900px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
}

.description h1{
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-weight: 350;
}

.description p{
    width: 500px;
    margin-top: 40px;
    text-align: center;
    margin-left: 160px ;
    line-height: 25px;
}



.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
  
.hero-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
  
.hero-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    margin-top: 70px;
    height: 1000px;
    margin-left: 200px;
}

.hero-right-bottom{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 300px;
    width: 350px;
    margin-left: -150px;
    margin-top: 150px;
}

.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.hero-img-large {
    max-height: 700px;
}
  
.hero-text {
    grid-column: 1 ;
    text-align: center;
    margin-top: -100px;
    margin-left: 10px;
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
}

.sec-container{
    display: inline;
    justify-content: center;
    align-items: center;
}

.sec-container img{
    width: 100%;
    height: auto;
    padding: 150px 150px;
}

.sec-container p{
    display: flex;
    max-width: 1500px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    margin-top: -100px;
}

.se2-container{
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.se2-container img{
    width: 100%;
    height: auto;
    padding: 150px 100px;
}

.se2{
    position: relative;
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 70px;
}

.se2 img{
    width: 70%;
    height: auto;
}

.se2 p{
    padding-left: -90px;
    margin-left: 40px ;
    line-height: 30px;
}